@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
	margin: 0 auto;
}
.homePage {
	background: #DE73A1;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background: #DE8D76;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 80px;
	
}
.nav {
	background: #DF4C44;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	background: #DC7CDE;
	margin: 0px;
	float: left;
	width: 100%;
	height: 400px;
	text-align: center;
}
.footer {
	background: #DE9564;
	margin: 0px;
	padding: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}
a:link {
     color: ##FAB9CF;
}
a:visited {
     color: #E478FF;
}
a:hover, a:active, a:focus { 
     text-decoration: underline;
}
