@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
	margin: 0 auto;
}
.homePage {
	background: #F5CFC9;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background: #F5CFC9;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 80px;
	
}
.nav {
	background: #F5C9E9;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	background: ##F5CFC9;
	margin: 0px;
	float: left;
	width: 100%;
	height: 400px;
	text-align: center;
}
.footer {
	background: #F5B19F;
	margin: 0px;
	padding: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}
a:link {
     color: #000000;
}
a:visited {
     color: #D6E3F3;
}
a:hover, a:active, a:focus { 
     text-decoration: underline;
}
